<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portfolio-Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

        <%- include("partials/navbar") %>
        <%- include("partials/hero") %>
        <%- include("partials/education") %>
        <%- include("partials/coursework") %>
       <%- include("partials/achievements") %>
       <%- include("partials/skills") %>
       <%- include("partials/projects") %>
       <%- include("partials/coding_profiles") %>
         <%- include("partials/experience_por") %>
         <%- include("partials/contact") %>
       <%- include("partials/footer") %>
   

</body>
</html>

